In [1]:
import pandas as pd

In [2]:
titanic = (sqlContext.read.format("com.databricks.spark.csv")
                       .option("header","true")
                       .option("inferSchema", "true")
                       .load('/FileStore/tables/8671cu2l1489417505661/train.csv')
                       .toPandas()
             )

In [3]:
flights = (sqlContext.read.format("com.databricks.spark.csv")
                       .option("header","true")
                       .option("inferSchema", "true")
                       .load('/FileStore/tables/p6om9qj01489419772868/flights.csv')
                       .toPandas()
             )

#Exercise 1

<b>Exercise 1a</b>: How many men and women are in the <i>titanic</i> dataset?

<b>Exercise 1b</b>: What were the ports of embarkation and how many passengers embarked at each port?

<b>Exercise 1c</b>: What was the average age of the passengers?

# Exercise 2

<b>Exercise 2a</b>: From the <i>flights</i> dataset, remove the first column and retain all rows.

<b>Exercise 2b</b>: Create a subset of the flights dataframe. It should only contain the <i>'year','month','day','dep_delay','carrier','origin','dest','distance' </i> columns.

# Exercise 3

<b>Exercise 3</b>: From titanic dataset create a dataframe that only contains women passengers who embarked at Cherbourg