#1. Preliminaries

In [2]:
import numpy as np  
import pandas as pd
import matplotlib.pyplot as plt  
import seaborn as sns

#2. Datasets

In [4]:
#load titanic and flights datasets
titanic = (sqlContext.read.format("com.databricks.spark.csv")
                       .option("header","true")
                       .option("inferSchema", "true")
                       .load('/FileStore/tables/8671cu2l1489417505661/train.csv')
                       .toPandas()
             )
flights = (sqlContext.read.format("com.databricks.spark.csv")
                       .option("header","true")
                       .option("inferSchema", "true")
                       .load('/FileStore/tables/p6om9qj01489419772868/flights.csv')
                       .toPandas()
             )

In [5]:
# We will create a data set from these lists

countries = ['Monaco','Bangladesh', 'Tuvalu', 'United Kingdom','Singapore']

populations = [38400,162076426, 11323, 65110000, 5607300]

areas = [2.02, 143998.0,26,242910.0,719.2]

continents = ['Europe','Asia','Australia','Europe','Asia']

gdps = [7060,173062,32,2858003,307872]

labels = ['population','area','gdp','continents']

In [6]:
# create country stats dataframe, df
df = pd.DataFrame(list(zip(populations,areas,gdps,continents)), index=countries, columns=labels)

In [7]:
df

In [8]:
titanic.info()

#Operations

##1. Select: Subset Rows, Columns by Slicing

There are three principal methods for slicing rows and columns in a dataframe or series.

* <b>.loc</b> works on <b><i>labels</i></b> in the index
* <b>.iloc</b> works on <b><i>the positions</i></b> in the index (so it only takes integers)
* <b>.ix</b> usually tries to behave like loc but falls back to behaving like iloc if the label is not in the index

In [12]:
df

In [13]:
df.iloc[1:2, 1:2]

In [14]:
df.loc['Monaco':'United Kingdom', 'population':'gdp']

In [15]:
df.ix[1:, 'area':'gdp']

In [16]:
# we can also explicity subset columns by list
df1 = df[['area','population']]

In [17]:
df1

##Exercise 2

## 2. Filter: select rows by criteria

In [20]:
# unique() returns unique categorical values in a column
flights.carrier.unique()

In [21]:
# create a dataframe that contains only UA and JetBlue B6 flights
uajb = flights[(flights.carrier == "UA")  | (flights.carrier =="B6")]

In [22]:
# retain all the rows; get rid of the first column
uajb = uajb.ix[:, 1:]

### Exercise 3

In [24]:
# explicitly select the rows
uajb = uajb[['dep_delay','carrier','origin','dest','distance']]

In [25]:
uajb.head()

## 3. Arrange: reorder rows

## 4. Mutate: add new columns

In [29]:
df['density']= df['population']/df['area']

In [30]:
df

In [31]:
# to apply a function use apply method
df['rden'] = df['density'].apply(round)

In [32]:
df

## 5. Summarize: Reduce Variables to Values